
.Contenedor_1{
    border:1px solid black;
    color :black;
    font-weight: bold;
    background-color: #00A0DF;
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    display: flex;
    text-align: center;
    align-items: center;
}

select, input{
    width: 150px;
}